body
{
    display: flex;
}
/************bande colorée***************/
.banner
{
    width: 15%;
    height: 800px;
    background-color: #bee8dc;
}
img
{
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
h3
{
    background-color: #424242;
    color: #D9FFFF;
    text-align: center;
    font-size: 1.3em;
}
.marge
{
    font-size: 1em;
    padding-left: 10px;
}

/*************Partie principale*****************/
.title
{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}
h1
{
    font-size: 5em;
}
.color
{
    color: #bee8dc;
}
.position
{
    font-size: 1.3em;
}
.underline
{
    text-decoration: underline;
    text-decoration-color: #bee8dc;
}
section
{
    margin-left: 50px;
    font-size: 1.3em;
}
.icon
{
    color: #bee8dc;
}