@font-face 
{
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular-webfont.woff2') format('woff2'),
         url('../font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.blocpage
{
    display: flex;
}

/************bande colorée***************/
aside
{
    flex: 1;
    background-color: #bee8dc;
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
}
img
{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.titlebanner
{
    text-align: center;
    background-color: #424242;
    color: #D9FFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 6px;
}
.margin
{
    font-size: 1em;
    margin-left: 50px;
    margin-right: 50px;
}
.me
{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    margin-bottom: 450px;
}
.flex
{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}
.roundborder 
{
    border: solid 0.08em #424242;
    border-radius: 1em;
    padding: .2em .25em .15em; 
}

/*************Partie principale*****************/
main
{
    flex: 3;
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
}
header
{
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 70px;
}
h1
{
    font-size: 4em;
    margin-bottom: 10px;
}
.color /*couleur sur prénom*/
{
    color: #bee8dc;
}
.position 
{
    font-size: 1.8em;
    margin-top: -5px;
    margin-bottom: 20px;
}
.underline /*soulignement poste*/
{
    width: 90px;
    border-top: 3px solid #bee8dc;
    margin-top: -15px;
}
h2
{
    font-size: 1.5em;
}
h3
{
    font-size: 1em;
}
.title
{
    border-bottom: #bee8dc solid;
    margin-bottom: 50px;
}
section
{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.3em;
    margin-right: 50px;
    margin-top: 80px;
}
.curriculum
{
    display: flex;
}
.padding1
{
    flex: 0.5;
}
.padding2
{
    flex: 2;
}
.padding3
{
    flex: 6;
    text-align: justify;
}
.icon
{
    color: #bee8dc;
}
.recommandation
{
    display: flex;    
    justify-content: space-around;
}

/**************Responsive************/
@media screen and (max-width: 768px)
{
    .blocpage 
    {
        flex-direction: column-reverse;
    }
    aside
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header
    {
        margin-top: 10px;
    }
    article
    {
        width: 200px;
    }
    .contact
    {
        margin-bottom: 50px;
    }
    .margin
    {
        margin-left: -2px;
    }
    .element3
    {
        order: 4;
        width: auto;
    }
    .me
    {
        margin-bottom: 50px;
    }
    .flex
    {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 30px;
        margin-left: 30px;
    }
    .iconmargin
    {
        margin-bottom: 25px;
    }
    .padding1
    {
        flex: 1;
    }
    .padding2
    {
        flex: 3;
    }
    .padding3
    {
        flex: 10;
        text-align: justify;
    }
}
@media screen and (max-width: 480px)
{

    h1
    {
        font-size: 2.3em;
    }
    .position
    {
        font-size: 1.6em;
    }
    .underline
    {
        width: 75px;
    }
    .recommandation
    {
        flex-direction: column;
        text-align: center;
    }
    .curriculum
    {
        display: block;
        width: auto;

    }
    .padding1
    {
        text-align: center;
        width: auto;
    }
    .padding2
    {
        text-align: center;
        width: auto;
    }
    .padding3
    {
        text-align: center;
        width: auto;
    }
    header
    {
        margin-left: 10px;
    }
    section
    {
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
    }
    .title
    {
        font-size: 0.9em;
        width: auto;
        margin-bottom: 5px;
    }
    aside
    {
        display: block;
    }
    .element2
    {
        width: auto;
        text-align: center;
    }
    .element4
    {
        width: auto;
        text-align: center;
    }
    .margin
    {
        margin: auto;
    }
}